body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.grid{
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}